name: Test All
on:
  push:
    paths:
      - '**.kt'
      - '**.rs'
      - '**.toml'
      - '**.kts'
      - '**.xml'
      - '**.jar'
      - '**.properties'
      - 'incus/intervirt-os.yaml'

jobs:
  test:
    name: Test All
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'jetbrains'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/dev' }}
      - name: All Tests
        run: ./gradlew :core:allTests